<?php
$utmUrl = '';
$storeId = $block->getReminder()['store_id'];
$helper = $block->getReminderHelper();
if ($block->getUtm($storeId)) {
    $utmUrl = $block->getUtm($storeId);
}
?>
<div>
    <table summary="<?php echo __('Items Ordered') ?>" style="width: 100%">
        <thead>
        <tr>
            <th><?php echo __('Product Image') ?></th>
            <th><?php echo __('Name') ?></th>
            <th><?php echo __('Review') ?></th>
        </tr>
        </thead>
        <?php $products = explode(',', $block->getReminder()['product_id']) ?>
        <?php foreach ($products as $pro): ?>
            <?php
            $product = $block->getProductByStore($pro, $storeId);
            if ($product != null) :
                $productUrl = $helper->getProductUrl($product, $storeId);
                $productUrl = $helper->getStoreUrl($storeId) . $productUrl;
                ?>
                <?php $productUrlBind = '?order=' . $block->getReminder()['increment_id'];
                $productUrlBind = $productUrl . $productUrlBind . $utmUrl; ?>
                <tbody>
                <tr>
                    <td>
                        <img src='<?= $block->getProductImage($product) ?>' alt='<?php echo $product->getName(); ?>'>
                    </td>
                    <td><?php echo $product->getName() ?></td>
                    <td><a href="<?php echo $productUrlBind . '#reviews' ?>"
                           target="_blank"><?php echo __('Add Review Now'); ?></a>
                    </td>
                </tr>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
    </table>
</div>
