<!--@subject Thank You for the Review, Your Reward is Waiting! @-->

{{template config_path="design/email/header_template"}}
<p>
    <img width="600" src="{{view url='$image'}}" alt="Review Reminder"/>
</p>
<br>

Dear {{trans "%customer" customer=$customer}},
<br>

<p>Thank you for leaving your valuable review.</p>
<br>

<p>As a token of appreciation, we'd like to offer you {{trans "%discount" discount=$discount}} discount on next purchase. Use code <b>{{trans "%coupon" coupon=$coupon}}</b> during checkout to get <b>{{trans "%discount" discount=$discount}}</b> discount.</p>


{{template config_path="design/email/footer_template"}}