<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': true}}"  <!-- 'active': isItemsBlockExpanded() -->
<div class="title" data-role="title">
    <strong role="heading" aria-level="1">
        <translate args="maxCartItemsToDisplay" if="maxCartItemsToDisplay < getCartLineItemsCount()"/>
        <translate args="'of'" if="maxCartItemsToDisplay < getCartLineItemsCount()"/>
        <span data-bind="text: getCartSummaryItemsCount()"></span>
        <translate args="'Item in Cart'" if="getCartLineItemsCount() === 1"/>
        <translate args="'Items in Cart'" if="getCartLineItemsCount() > 1"/>
    </strong>
</div>
<div class="content minicart-items" data-role="content">
    <div class="minicart-items-wrapper overflowed">
        <ol class="minicart-items">
            <each args="items()">
                <li class="product-item">
                    <div class="product">
                        <each args="$parent.elems()" render=""/>
                    </div>
                </li>
            </each>
        </ol>
    </div>
</div>
<div class="actions-toolbar" if="maxCartItemsToDisplay < getCartLineItemsCount()">
    <div class="secondary">
        <a class="action viewcart" data-bind="attr: {href: cartUrl}">
            <span data-bind="i18n: 'View and Edit Cart'"></span>
        </a>
    </div>
</div>
</div>
