.dpd-pickup-point-map-marker-container {
    line-height: 13px;

    table > tbody > tr > td {
        padding: 0;
        margin: 0;
    }

    h2 {
        margin: 0 0 10px;
    }
}

#dpd-pickup-point-selected {
    padding: 15px 0;

    .label {
        font-weight: bold;
    }
}

#dpd-pickup-point-map {
    width: 100%;
    height: 500px;
}