<div class="payment-option _collapsible opc-payment-additional um-ordercomment comment last"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" role="heading" aria-level="2">
            <!-- ko i18n: 'Leave a Comment'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <form class="form form-discount order-comment-form">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label">
                        <span data-bind="i18n: 'Enter comment'"></span>
                    </label>
                    <div class="control">
                        <textarea class="input-text order-comment" name="comment-code" rows="4" data-bind="attr:{placeholder: $t('Enter your comment...')} " ></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>