<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /* @var $block \Magento\ProductAlert\Block\Product\View */?>
<div class="product alert <?= $block->getHtmlClass() ?>">
    <div class="product-soledout-information">
        <?php echo $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('product-soledout-information')
                        ->toHtml(); ?>
    </div>
    <div class="product-soledout-button">
        <a href="<?= $block->escapeUrl($block->getSignupUrl()) ?>"
        title="<?= $block->escapeHtmlAttr(__($block->getSignupLabel())) ?>" class="action alert">
            <?= $block->escapeHtml(__($block->getSignupLabel())) ?>
        </a>
    </div>
</div>
