<div data-bind="visible: selectedMethod() == 'dpd_pickup'">
    <div data-bind="visible: stateLoading()">
        <span data-bind="i18n: 'Loading pickup points...'"></span>
    </div>
    <div data-bind="visible: !stateLoading() && stateEmpty()">
        <span class="field-error"
              data-bind="i18n: 'There are no DPD pickup points available in the chosen country. Please select a different shipping method.'"></span>
    </div>
    <div data-bind="visible: !stateLoading() && !stateEmpty()">
        <div data-bind="visible: !googleMapsEnabled">
            <div><label for="dpd-pickup-point-select" data-bind="i18n: 'Select DPD Pickup Point'"></label>:</div>
            <div>
                <select id="dpd-pickup-point-select" data-validate="{required:true}"
                        data-bind="foreach: pickupPoints, value: selectedPickupPoint">
                    <optgroup data-bind="attr: {label: name}, foreach: items">
                        <option data-bind="text: label, value: api_id"></option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div data-bind="visible: googleMapsEnabled">
            <div id="dpd-pickup-point-map" afterRender="initMap"></div>
            <div id="dpd-pickup-point-selected" data-bind="visible: selectedPickupPoint()">
                <span class="label" data-bind="i18n: 'Selected DPD Pickup Point'"></span>: <span data-bind="text: getSelectedPickupPointText()"></span>
            </div>
        </div>
    </div>
</div>