<div class="admin__page-section-title">
    <span class="title">
        <?php echo __('DPD Services'); ?>
    </span>
</div>
<div class="admin__field admin__field-option">
    <input type="checkbox" class="admin__control-checkbox" name="include_return_label"
           id="include_return_label_checkbox" value="0" <?php echo $block->isAutoIncludeReturnLabels() ? 'checked' : ''; ?>>

    <label class="admin__field-label"
           for="include_return_label_checkbox"><?php echo __('Include DPD Return Label'); ?></label>
</div>
<div class="admin__field admin__field-option">
    <input type="checkbox" class="admin__control-checkbox" name="document_return"
           id="document_return_checkbox" value="0" <?php echo $block->isAutoDocumentReturn() ? 'checked' : ''; ?>>

    <label class="admin__field-label" for="document_return_checkbox"><?php echo __('DPD Document Return'); ?></label>
</div>
<div>&nbsp;</div>
<script>
    require([
        'jquery',
        'prototype',
        'Magento_Shipping/order/packaging',
    ], function(jQuery) {

        let includeDpdReturnLabelCheckbox = jQuery('#include_return_label_checkbox');
        let dpdDocumentReturnCheckbox = jQuery('#document_return_checkbox');

        function updateCreateLabelParameters() {
            window.packaging.setParamsCreateLabelRequest(
                {
                    'dpd_include_return_labels': includeDpdReturnLabelCheckbox.is(':checked') ? 1 : 0,
                    'dpd_document_return_service': dpdDocumentReturnCheckbox.is(':checked') ? 1 : 0
                },
            );
        }

        includeDpdReturnLabelCheckbox.on('change', function() {
            updateCreateLabelParameters();
        });

        dpdDocumentReturnCheckbox.on('change', function() {
            updateCreateLabelParameters();
        });

        jQuery('.action-create-label').on('click', function() {
            updateCreateLabelParameters();
        });

        jQuery('.order-history-comments-actions > button.submit-button').on('click', function() {
           if (jQuery('#create_shipping_label').is(':checked')) {
               updateCreateLabelParameters();
           }
        });
    });
</script>
