.footer {
    padding: 0 25px 25px;
}
.footer > table {
    width: 100%;
}
.footer .pb-25 {
    padding-bottom: 25px;
}
.footer .footer-bottom {
    background-color: #f5f5f5;
    text-align: center;
    color: #5c5c5c;
    padding: 25px 0;
}
.email-items {
    border: 1px solid #ccc;
}
.email-items > thead {
    background-color: #f5f5f5;
}
.email-items > tbody {
    border-bottom: 1px solid #ccc;
}
