// Custom less for extending Pearl/weltpixel theme can be added in this file in the new theme
// Here custom less for clients can be added
.weltpixellighting {
	color: black;
}
.theme-pearl.product-page-v1 .product-info-main {
    margin-top: 0;
}
.product-page-v1 #maincontent .product-info-main h1.page-title,
.navigation > ul > li > ul li a span,
.products-grid .product-item .product-item-name a,
.toolbar.toolbar-products .toolbar-sorter label,
.toolbar.toolbar-products select{
    text-transform: none;
}
.theme-pearl .breadcrumbs .items strong, .theme-pearl .breadcrumbs .items a {
    text-transform: inherit !important;
}
.navigation .megamenu.level-top-fullwidth .submenu [data-has-children] > a span:last-child,
.navigation .megamenu.level-top-sectioned .submenu [data-has-children] > a span:last-child,
.navigation .megamenu.level-top-boxed .submenu [data-has-children] > a span:last-child {
    font-weight: 600;
    color: #333333;
    font-size: 14px !important;
}
#onepage-checkout-shipping-method-additional-load {
    padding-bottom: 20px;
}
.checkout-payment-method .payment-option-content .form-discount .actions-toolbar .primary .action:not(:focus) {
    box-shadow: none;
}
#discount-form input[type="text"] {
    height: 34px;
}
.form-edit-account .password-info > p,
.review-add .review-field-ratings > .label,
.page-header > .panel.wrapper > .panel.header,
.brand-view-index .product-item-details .product-item-actions,
.payment-method-content > .items.check.payable,
#checkout-step-payment .discount-code,
.products-related .field.choice.related,
.block-actions.related
{
    display: none;
}
.icon-line2-compass {
    top: 1px;
}
.container-fluid .clients-grid li a {
    opacity: 1;
}
.catalog-product-view .product-brand {
    margin-top: -10px;
    margin-bottom: 15px;
}
.catalog-product-view .product-brand a {
    text-decoration: underline;
}
.theme-pearl.catalog-product-view #maincontent .product-info-main .product-info-price .price-box .price-final_price .price {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.checkout-payment-method .payment-method-title .action-help,
.products-grid .product-item .product-item-details .price-box .price-container .price-label {
    display: none !important;
}
.w .newsletter-subscribe input.validate-email {
    width: calc(~"(100%) - 125px");
}
#maincontent {
    padding: 0 15px;
}
.content-v5 .block.widget .products-grid .product-items .product-item .product-item-name a {
    font-weight: normal;
}
.user.minicart-wrapper {
    display: inline-block;
    top: -4px;
    float: left;
}
.user-icon::before {
    content: "\e66c";
    font-family: inherit;
    display: inline-block;
    font-family: 'font-icons';
    font-size: 25px;
    color: inherit;
    line-height: 30px;
    padding-right: 10px;
}
.user-icon:hover {
    color: #cccccc;
}
div[name="shippingAddress.postcode"] input {
    width: calc(~"(100%) - 62px");
}
div[name="shippingAddress.postcode"] .message.warning {
    display: none;
}
div[name="shippingAddress.postcode"] > div.control:before{
    content: "LT–";
    display: inline-block;
    background-color: lightgray;
    border: 1px solid #c2c2c2;
    border-right: 0;
    margin-right: -5px;
    padding: 5px 19px;
}
#checkoutSteps div[name="shippingAddress.telephone"] input {
    width: calc(~"(100%) - 62px");
    margin-right: 0;
}
div[name="shippingAddress.telephone"] .field-tooltip.toggle {
    display: none;
}
div[name="shippingAddress.telephone"] > div.control:before {
    content: "+370";
    display: inline-block;
    background-color: lightgray;
    border: 1px solid #c2c2c2;
    border-right: 0;
    margin-right: -5px;
    padding: 5px 15px;
}
.divider.divider-center:before,
.divider.divider-center:after{
    margin-left: 0;
}
.divider.divider-center i:before{
    content: "";
}
#checkout .actions-toolbar .primary {
    text-align: left !important;
}
#checkout .actions-toolbar .primary .button {
    text-align: center !important;
}
.checkout-payment-method .actions-toolbar .primary {
    width: 100%;
    max-width: 750px;
    min-width: 200px;
    float: inherit;
}
.payment-method .action.primary.checkout {
    width: 100%;
}
button.update-cart-item {
    padding: 5px 15px;
}
.content-v5 .block.widget .products-grid .product-items .product-item .product-item-name a {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1;
}
.content-v5 .block.widget .products-grid .product-items .product-item .product-item-details .price-box .price-container .price {
    font-weight: 700;
}
.products-grid .product-item .product-item-details .price-box .old-price .price-container .price,
.content-v5 .block.widget .products-grid .product-items .product-item .product-item-details .price-box .old-price .price-container .price {
    font-size: 14px !important;
    font-weight: normal;
}
.theme-pearl.catalog-product-view #maincontent .product-info-main .product-info-price .price-box .special-price .old-price .price {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}
#search_mini_form_404 .field.search {
    margin-right: 10px;
    width: calc(~"(100%) - 110px");
}
#search_mini_form_404 .action.search.primary {
    right: 0;
}
.theme-pearl.store-view-default #search_mini_form_404 button.action.primary:hover span {
    background-color: #ffffff;
    border: #00a650 1px solid;
    border-radius: 5px;
    color: #00a650;
    height: 32px;
}
#search-404 {
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
body.wp-sl div.sociallogin-wrapper div.sociallogin-block div.sociallogin-padding div.sociallogin-box a.sociallogin-button span.sl-fb::after {
    content: 'Prisijunkite naudodami Facebook';
}
body.wp-sl div.sociallogin-wrapper div.sociallogin-block div.sociallogin-padding div.sociallogin-box a.sociallogin-button span.sl-google::after {
    content: 'Prisijunkite naudodami Google';;
}
#checkout-step-shipping_method.actions-toolbar{
    text-align: center;
}
#shipping .primary {
    float: inherit;
    width: 100%;
}
#shipping .button.action.continue.primary {
    width: 100%;
    max-width: 750px;
    min-width: 200px;
    float: inherit;
}
.table-checkout-shipping-method {
    width: 100%;
}
.table-checkout-shipping-method .col-carrier,
#label_carrier_classic_dpd,
#label_carrier_pickup_dpd {
    display: none;
}
.page-wrapper .page-header .minicart-wrapper .action.showcart::before,
.search-visible-md .open-modal-search{
    font-size: 25px !important;
}
.page-header .minicart-wrapper .action.showcart .counter.qty {
    margin-top: 6px;
}
.open-modal-search.icon-search3 {
    margin-top: 4px;
}
.page-wrapper .page-footer .footer.content .footer-v3 {
    padding-top: 0;
}
.block.review-add > .block-content {
    display: none;
    background-color: #fff;
}
.page-main .column .review-add {
    margin-bottom: 20px;
}
.reviews-stars, 
.reviews-button {
    display: inline-block;
    min-width: 130px;
}
.reviews-stars {
    width: 20%;
}
.reviews-button span {
    padding: 0 40px;
}
.review-top-button .rating-summary .rating-result,
.review-top-button .rating-summary .rating-result > span {
    height: 32px;
    width: 170px;
}
.review-top-button .rating-summary .rating-result::before,
.review-top-button .rating-summary .rating-result > span::before {
    font-size: 32px;
    height: 32px;
    line-height: 32px;
}
.reviews-actions .action.add {
    display: none;
}
#review-form .review-legend span,
#review-form .review-legend strong {
    font-size: 14px;
}
.review-control-vote label::before,
.rating-summary .rating-result > span::before {
    color: #feb62b;
}
@media screen and (min-width: 767px)  {
    .header > .nav-sections-3.nav-sections,
    .header > .block-search,
    .header > .header_right {
        transform: translate(0, 50%);
    }
    .sticky-header .header > .nav-sections-3.nav-sections,
    .sticky-header .header > .block-search,
    .sticky-header .header > .header_right {
        transform: translate(0, 0);
    }
    .open-modal-search.icon-search3 {
        padding-top: 0;
        margin-top: -2px;
    }
    #tab-label-additional-title,
    #tab-label-description-title,
    #tab-label-reviews-title {
        font-size: 21px;
        line-height: 44px;
        height: 46px;
    }
    .theme-pearl.store-view-default.catalog-product-view .product.info.detailed .product.data.items {
        border-bottom: 0;
    }
    .product.data.items > .item.content {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    .product-soledout-information {
        border: 3px solid red;
        padding: 10px;
    }
    .product-soledout-button {
        text-align: center;
        margin-top: 10px;
    }
    .product-soledout-button a {
        background-color: #8cc63f;
        position: unset;
        display: block;
        width: 90%;
        margin: auto;
        color: #fff;
        font-weight: bold;
    }
    .theme-pearl.store-view-default .product-soledout-button a:hover {
        background-color: #ffffff;
        color: #8cc63f !important;
        border: 1px solid #8cc63f;
    }
    .product-info-main > .product.alert.stock {
        padding: 0;
    }
    .footer-v3 .no-padding-mob.info {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .toolbar-products .sorter-label {
        display: none;
    }
    .page-products .columns {
        padding-top: 0;
    }
    .footer-section2-content h4::after {
        content: '+';
        right: 20%;
        position: absolute;
        background-color: #000;
        color: #fff;
        border-radius: 35px;
        width: 22px;
        height: 23px;
        cursor: pointer;
    }
    .footer-section2-content h4.closed::after {
        content: '-';
    }
    .footer-section2-content .footer-v3-list {
        display: none;
    }
    .product-item-name {
        line-height: 16px;
    }
    .columns .products-grid .product-item .product-item-link {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px !important;
    }
    #maincontent .column.main .tabs-1.product.info.detailed {
        margin-bottom: 0;
    }
    .w.footer-v3 .divider-center {
        display: none;
    }
}
