<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\OfflinePayments\Block\Info\Checkmo
 */
?>
<dl class="payment-method checkmemo">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
</dl>
